# Django sozlamalari
SECRET_KEY=gt4jce5d57GtQMUYFfaV8QrJWXkkKs_QBmFaptdsORhQwpxgUWJjtSm878VGj2GOM3k
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Telegram Bot sozlamalari
BOT_TOKEN=8882353518:AAGrTbwqrGghiQG2fhLO9NDafhJOVUJCjZM

# Database sozlamalari (agar ishlatilsa)
DB_NAME=gym_db
DB_USER=gym_admin
DB_PASSWORD=your_real_db_password_here
DB_HOST=127.0.0.1
DB_PORT=5432