# Django sozlamalari
SECRET_KEY=your_secret_key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Telegram Bot sozlamalari
BOT_TOKEN=your_bot_token

# AI API (Groq) sozlamalari
GROQ_API_KEY=your_groq_api_key_here

# Database sozlamalari (agar ishlatilsa)
DB_NAME=gym_db
DB_USER=gym_admin
DB_PASSWORD=your_real_db_password_here
DB_HOST=127.0.0.1
DB_PORT=5432